<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 添加 NuGet.org 官方源 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- 添加 SMAPI 官方源 (这里托管了 StardewModdingAPI) -->
    <add key="smapi.io" value="https://smapi.io/nuget" />
  </packageSources>
</configuration>